schedule:
  start_time: null
  end_time: null
  duration: "00:01"

out_path: ./output

camera_system:
  cameras:
    ptz1:
      name: Avonic_CM93_NDI
      enable: True
      ip: 192.168.16.11
      visca_port: 1259
      src: ndi
      fps: 30
      presets:
        left: [64832, 65287]
        center: [0x1000c, 0xfe64]
        right: [66217, 65287]
      camera_params: null
      speed: 0x09
      stream: False
    ptz2:
      name: Avonic_CM93_NDI
      enable: True
      ip: 192.168.16.12
      visca_port: 1259
      src: ndi
      fps: 30
      presets:
        left: [66231, 65381]
        center: [0x1002a, 0xfe4d]
        right: [64802, 65381]
      camera_params: null
      speed: 0x09
    pano:
      name: Vivotek-MS9321-EHV-V2
      enable: True
      ip: 192.168.16.13
      # src: rtsp
      src: rtsp://192.168.16.13:554/media2/stream.sdp?profile=Profile200
      frame_size: [4096, 1484]
      # crop: [0, 320, 1600, 4416] # (top_y, top_x, bottom_y, bottom_x)
      crop: [1, 1, 1484, 4096] # (top_y, top_x, bottom_y, bottom_x)
      fps: 5
      camera_params: null
      distort: "./camera_params/fradi/remap_4096x1484_fov125.npz"
      save: True
  
  pano_onnx: ./models/rtdetrv2_pano.onnx

bev:
  points:
    world: [[-25, 12.5], [-25, 11.25], [-25,8.75], [-25,6.25], [-25,3.75], [-25,1.25], [-25,-1.25], [-25, -3.75], [0,12.5], [25, 12.5], [25,11.25], [25,8.75], [25,6.25], [25, 3.75]]
    image: [[1214, 106], [1181,121], [1087,157], [951,196], [814,244], [644,302], [432,371], [154, 456], [2245,14], [3459, 7], [3502,18], [3634,52], [3799,88], [4007, 133]]
  court_size: [25, 20]